<html>
<head>
     {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app1/style.css' %}" />
    <meta charset="UTF-8">
    <title>
     home page
    </title>
</head>
<body>

<div class="outer">

    <div id="modes_inner">

        <div class="header">
          <nav>

              <a id="home_page_link" href="{% url 'home' %}">Home page</a>

           <a id="E_L_R">E-Learning Reccomendation System</a>
            <a id="hi_user"> Hi, {{ request.user.username }}</a>
            <a id="click_logout" href="{% url 'logout' %}">Logout</a>

           <img id="cdac_logo" src="{% static 'app1/images/cdac_logo.png' %}">

           </nav>
         </div>



<div class="notes_box">
          {% block content %}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color:white ">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">save</button>
  </form>
{% endblock %}
<hr>
<div class="two_choose_mode">
            <table cellspacing="10" c>

           <th>     <a id="two_img2">
                 <figure>
                 <img id="two_modes_img"src="{% static 'app1/images/videoTutorial.jpg' %}">
                    <figcaption><a id="two_Sign" href="{% url 'video_learn' %}">Video based learning</a></figcaption>
            </figure>
             </a>
           </th>

             <th>   <a id="two_img3">
                 <figure>
                 <img id="two_modes_img" src="{% static 'app1/images/audio_learn.jpg' %}">
                    <figcaption><a id="two_Sign" href="{% url 'audio_learn' %}">Audio based learning</a></figcaption>
            </figure>
             </a>
             </th>

                </table>
        </div>


</div>




        <div class="ppt">
        <iframe src="https://onedrive.live.com/embed?cid=92928963329A862B&resid=92928963329A862B%21105&authkey=AGhoO-djEx7zjag&em=2" width="750" height="400" frameborder="0" scrolling="no"></iframe>
    </div>


        <div class="summary">

        <p>Summary: The interactive PPT makes you more interested. Tell students that nouns found in sentences can explain who or what the sentence is about, where an event took place, and many other things relevant to the sentence.</p>


    </div>



</div>


</div>
</body>
</html>